.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 20%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .projects-zone {
        position: absolute;
        top: 45%;
        left: 10%;
        width: 76%;
        
        .project-card {
            margin: 10px;
            .preview-image {
                height: 250px;
                width: 95%;
                margin: 5px;
                object-fit: cover;
                border: 1px dotted rgba(255, 255, 0, 0.39);
            }

            .inner-card {
                position: relative;
                top: -25px;
            }

            h2 {
                color: white;
                text-align: center;
                font-size: 18px;
            }

            p {
                color: rgb(166, 161, 161);
                text-align: center;
                animation: fadeIn 1s 1.8s backwards;
                font-size: 14px;
                margin: 5px;
            }
        }

        .row {
            position: relative;
            top: 30px;
            display: flex;
            height: 400px;
        }

        .column {
            width: 33%;
            
            background-color: rgba(0, 187, 255, 0.031);
        }
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            content: '';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            opacity: 0.6;
        }

        &:after {
            content: '';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            margin-left: 20px;
            opacity: 0;
            width: 32px;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
}